[{:db/ident :wallet/user
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "User who is the Wallet owner"}

 {:db/ident :wallet/balance
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Wallet balance"}

 {:db/ident :wallet/validate
  :db.entity/attrs [:wallet/user :wallet/balance]}]
