{:common {:btns {:to-main-menu {:en "To Main Menu"}
                 :back {:en "Back"}}}

 :core {:main-menu {:msg {:en "Hello, %s!\n\nWelcome to Bistro Beacon Bot.\nWe are happy to provide the best bistro management experience to you."}
                    :btns {:my-projects {:en "My Projects"}
                           :my-account {:en "My Account"}
                           :faq {:en "F.A.Q."}}}

        :my-projects {:msg {:en "You have %d projects:"}
                      :btns {:new-project {:en "New Project"}}}

        :new-project {:msg {:en "*Yay!*\n\nYou are going to open new project. Please enter the name."}}
        
        :faq {:msg {:en "*What is it?*\nBistro Beacon Bot\n\n*What is it for?*\nFor your comfort"}}}

 :project {:new {:wrong-name {:en "⛔ Name \"%s\" is *unavailable*! Please enter another one."}
                 :created {:en "🍾 *New project named \"%s\" created!*"}}

           :btns {:to-project {:en "Go To Project"}}}}
